/* base */
body,
table,
div,
.node text {
    font-family: "Yu Gothic UI", "Meiryo UI", "メイリオ", "MS UI Gothic", sans-serif;
}

/* body */
body {
    background-color:#99DDDD;
}
.body {
    background-color:#FFFFFF;
    padding-bottom:24px;
    min-height:95vh;
}

/* tab */
.navbar .glyphicon {
    margin-right:8px;
}

/* tag */
.tag-default {
    font-size:xx-small;
    padding-right:3px;
}
.tag-selector {
    padding-right:8px;
}
.input-group ul.right {
    left:auto;
    right:0px;
    min-width:60px;
}

/* popup */
.link-edit .popover {
    max-width:800px;
    left:0px;
}

/* icon */
.navbar .user-icon {
	margin-top: -9px;
	margin-bottom: -9px;
	width: 32px;
	height: 32px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.login.icon {
	width: 32px;
	height: 32px;
}

/* side list */
@media screen and (max-width: 991px) {
    .hide-on-narrow {
        display:none;
    }
}
@media screen and (min-width: 992px) {
    .hide-on-narrow {
        min-height:60vh;
        max-height:90vh;
        overflow-y:auto;
    }
    .hide-on-narrow + div {
        min-height:60vh;
        max-height:90vh;
        overflow-y:auto;
    }
    .show-on-narrow {
        display:none;
    }
}

/* table */
table.list {
	border-collapse: collapse;
	width: 100%;
}
table.list th {
    color:#DDFFFF;
    background-color:#008888;
}
table.list th,
table.list td {
	border: solid 1px #AAEEEE;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
}
table.list tr:nth-child(2n-1) {
    background-color:#99DDDD;
}

/* custom design */
.navbar,
.big-header,
.jumbotron {
    color:#DDFFFF;
    background-color:#008888;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color:#88DDDD;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #006666;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form,
.navbar-inverse .navbar-toggle,
.navbar-inverse {
    border-color:#88CCCC;
}
.big-header {
    margin-top:-20px;
    width:100%;
    margin-bottom:30px;
}
.jumbotron {
    margin-bottom:0px;
}
.jumbotron a,
.jumbotron a:active,
.jumbotron a:focus,
.jumbotron a:hover {
    color:#CCFFEE;
    word-break: break-all;
}
.jumbotron .glyphicon {
    margin-right:0.3em;
}
.btn-primary {
    color: #DDFFFF;
    background-color: #008888;
    border-color: #008888;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #EEFFFF;
    background-color: #006666;
    border-color: #006666;
}
.btn-primary:hover {
    color: #EEFFFF;
    background-color: #006666;
    border-color: #007777;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #004444;
    border-color: #004444;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #EEFFFF;
    background-color: #006666;
    border-color: #006666;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}


/* ui.bootstrap fix */
.pull-xs-right {
    float:right;
}
.label-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

/* icon */
.glyphicon-sepiatournament {
	background-origin: border-box, padding-box;
	background-image: url(./images/sepiatournament.hollow.png);
	background-position:bottom;
}
.navbar .glyphicon-sepiatournament {
	background-color: #88DDDD;
	background-size: 32px 32px;
	width: 32px;
	height: 28px;
	margin-top: -16px;
	margin-bottom: -8px;
}
a:hover > .glyphicon-sepiatournament {
	background-color:#FFFFFF;
}
.jumbotron .glyphicon-sepiatournament {
	background-color: #DDFFFF;
	background-size: 128px 128px;
	width: 128px;
	height: 112px;
	margin-top: -24px;
	margin-bottom: -16px;
}

/* chart */
#chart {
    text-align: center;
    /* その他の正しいとされるセンタリングをいくつか試してみたが正常に機能せず */
    /* その後、他の修正が入ったので正しいとされるセンタリングでよくなっているかもしれないが、正常に機能してるようなのでこのままにしておく。 */
}
#chart svg {
    margin-top: -20px;
    margin-bottom: -28px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
}

/* tree */
.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.null circle {
    display: none;
}
path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
path.winner {
    stroke: #6d6;
    stroke-width: 3.0px;
}

/* footer */
.footer {
    color:#008888;
    padding-top:8px;
    padding-bottom:8px;
}
.footer .separator {
    margin-left: 16px;
    margin-right: 16px;
    color:#DDFFFF;
}
