<!doctype html>
<html ng-app="sepiatournament">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title ng-bind="title">セピアトーナメント</title>
	
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@sepiatournament">
    <meta name="twitter:title" content="セピアトーナメント">
    <meta name="twitter:description" content="オンライントーナメント開催/運営サイト">
    <meta name="twitter:image:src" content="http://sepiatournament.net/sepiatournament.twitter.card.png">
	
    <!-- angular.js with ui.bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap-tpls.min.js" rel="stylesheet"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <!-- onedrive -->
    <!--
    <script type="text/javascript" src="https://js.live.net/v5.0/OneDrive.js" id="onedrive-js" client-id="splatournament_public"></script>
    -->
    <!--  https://account.live.com/developers/applications -->

    <!-- d3.js -->
    <script src="/js/mbostock/d3/d3.min.js"></script>

    <link href="sepiatournament.css" rel="stylesheet" />

</head>
<body id="body" ng-controller="sepiatournament">
    <div class="body">
        <header class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-3"
                        ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#" ng-click="selectTab(null)"><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[app.type]"></span>{{app.name}}</a>
                </div>
                <nav class="navbar-collapse collapse" uib-collapse="!isCollapsed">
                    <a href="/" role="button" class="navbar-brand" ng-click="selectTab()" ng-hide="isCollapsed"><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[app.type]"></span>{{app.name}}</a>
                    <ul class="nav navbar-nav" ng-hide="is_loading">
                        <li ng-class="active_tab == tab ? 'active': ''" ng-repeat="tab in tabs track by $index">
                            <a href="/{{tab}}" ng-click="selectTab(tab)"><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[tab]"></span>{{tab}}</a>
                        </li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-hide="logonUser"><a href="/login" ng-click="requireLogin()"><span class="glyphicon glyphicon-log-in"></span>login</a></li>
                        
                        <li ng-show="logonUser" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="isCollapsed2 = !isCollapsed2"><img class="user-icon" ng-src="{{logonUser.image}}" alt="{{logonUser.name}}" /><span class="caret"></span></a>
                            <ul class="dropdown-menu" uib-collapse="!isCollapsed2">
                                <li ng-class="active_tab == tab ? 'active': ''" ng-repeat="tab in userTabs">
                                    <a href="/{{tab}}" ng-click="selectTab(tab)"><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[tab]"></span>{{tab}}</a>
                                </li>
                                <li role="separator" class="divider"></li>
		                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>logout</a></li>
                            </ul>
                        </li>
                    </ul>                    
                </nav>
            </div>
        </header>

        <script type="text/ng-template" id="jumbotron.html">
            <div class="jumbotron">
                <span ng-include="'tag.html'"></span>
                <h1><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[model.type]"></span><img ng-show="model.image" class="icon icon-big" src="{{model.image}}"/>{{model.name}}<span ng-hide="model.name"><i>名称未設定</i></span></h1>
                <p>{{model.description}}</p>
				
				<div ng-show="(model.type=='event' || model.type=='match') && (model.startAt || model.endAt)">
				<h4 ng-show="model.type=='event'">開催日時</h4>
				<h4 ng-show="model.type=='match'">試合日時</h4>
				{{model.startAt | date: 'yyyy-MM-dd HH:mm:ss': '+900' }} ～ {{model.endAt | date: 'yyyy-MM-dd HH:mm:ss': '+900' }}
				</div>
				
				<h4 ng-show="model.twitter">twitter</h4>
				<a ng-show="model.twitter" href="https://twitter.com/{{model.twitter}}" rel="noopener" target="_blank">@{{model.twitter}}</a>
				
				<h4 ng-show="model.nnid">nintendo network id</h4>
				{{model.nnid}}
				
				<h4 ng-show="model.links && model.links.length">link</h4>
                <p ng-show="model.links" ng-repeat="link in model.links"><a ng-href="{{link.url}}" rel="noopener" target="_blank">{{link.title || link.url}}</a></p>
                <div ng-show="model.entries" ng-include="'match.entries.list.html'"></div>
            </div>
        </script>

        <script type="text/ng-template" id="startAt.time.edit.html">
            <uib-timepicker ng-model="model.startAt" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
        </script>

        <script type="text/ng-template" id="endAt.time.edit.html">
            <uib-timepicker ng-model="model.endAt" hour-step="1" minute-step="5" show-meridian="false"></uib-timepicker>
        </script>

        <script type="text/ng-template" id="time.edit.html">
            <p class="input-group">
				<span class="input-group-addon">開始</span>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm" ng-model="model.startAt" ng-model-options="{timezone:'+900'}" is-open="selected.openedStartCalendar" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar('Start')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <span class="input-group-btn">
                    <button uib-popover-template="'startAt.time.edit.html'" type="button" class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                </span>
            </p>
            <p class="input-group">
				<span class="input-group-addon">終了</span>
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm" ng-model="model.endAt" ng-model-options="{timezone:'+900'}" is-open="selected.openedEndCalendar" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar('End')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <span class="input-group-btn">
                    <button uib-popover-template="'endAt.time.edit.html'" type="button" class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                </span>
            </p>
        </script>

        <script type="text/ng-template" id="popup.link.edit.html">
            <div class="input-group" style="min-width:400px;">
                <span class="input-group-addon" id="link-title-label">title(optional)</span>
                <input type="text" class="form-control" ng-model="link.title" placeholder="タイトル" aria-describedby="link-title-label" />
            </div>
            <div class="input-group" style="min-width:400px;">
                <span class="input-group-addon" id="link-title-label">url</span>
                <input type="text" class="form-control" ng-model="link.url" placeholder="URL" aria-describedby="link-url-label" />
            </div>
        </script>

        <script type="text/ng-template" id="link.edit.html">
            <p class="input-group link-edit">
                <span class="input-group-btn">
                    <button uib-popover-template="'popup.link.edit.html'" type="button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                </span>
                <a ng-href="{{link.url}}" rel="noopener" target="_blank"><span class="form-control">{{link.title || link.url || "左の編集ボタンをクリックすると編集できます。"}}</span></a>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" ng-click="removeLink(model, link)"><i class="glyphicon glyphicon-trash"></i></button>
                </span>
            </p>
        </script>

        <script type="text/ng-template" id="edit.html">
		
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{active:!preview}" ng-click="preview=false;"><a href="#"><span class="glyphicon glyphicon-pencil"></span>edit</a></li>
				<li role="presentation" ng-class="{active:preview}" ng-click="preview=true;"><a href="#"><span class="glyphicon glyphicon-eye-open"></span>preview</a></li>
			</ul>
			
			<div ng-show="!preview">
				<h4>name</h4>
				<input type="text" class="form-control" ng-model="model.name" placeholder="名前" />
				<h4>description</h4>
				<textarea class="form-control" rows="10" ng-model="model.description" placeholder="説明" ></textarea>
				
				<h4 ng-show="model.type=='event'">開催期間</h4>
				<h4 ng-show="model.type=='match'">試合時間</h4>
				<div ng-show="model.type=='event' || model.type=='match'" ng-include="'time.edit.html'" ></div>
				
				<h4>private</h4>
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-block"	ng-class="!model.is_private ? 'btn-primary': 'btn-default'" ng-click="model.is_private=false;">
							<span class="glyphicon" ng-class="!model.is_private ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
							公開
						</button>
					</div>
					<div class="col-md-6">
						<button type="button" class="btn btn-block"	ng-class="model.is_private ? 'btn-primary': 'btn-default'" ng-click="model.is_private=true;">
							<span class="glyphicon" ng-class="model.is_private ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
							非公開
					</div>
				</div>
				
				
				<div  ng-show="model.type=='event'">
					<h4>entry style</h4>
					<div class="row">
						<div class="col-md-6">
							<button type="button" class="btn btn-block"	ng-class="!model.is_closed ? 'btn-primary': 'btn-default'" ng-click="model.is_closed=false;">
								<span class="glyphicon" ng-class="!model.is_closed ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
								オープン
						</div>
						<div class="col-md-6">
							<button type="button" class="btn btn-block"	ng-class="model.is_closed ? 'btn-primary': 'btn-default'" ng-click="model.is_closed=true;">
								<span class="glyphicon" ng-class="model.is_closed ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
								クローズド
							</button>
						</div>
					</div>
					
					<div ng-hide="model.is_closed">
						<h4>募集枠</h4>
						<input type="text" class="form-control" ng-model="model.max_entry" placeholder="募集枠" />
						<h4>募集期間</h4>
						<div ng-include="'time.edit.html'" ng-repeat="model in [model.entryspan]"></div>
					</div>
				</div>
				
				<div ng-include="'tag.edit.html'" ng-show="tags[model.type]"></div>
				
				<div ng-show="model.type=='user'">
				<h4>twitter</h4>
				<a href="https://twitter.com/{{model.twitter}}" rel="noopener" target="_blank"><img class="icon icon-mini" src="{{model.image}}"/>@{{model.twitter}}</a>
	
				<h4>nintendo network id</h4>
				<input type="text" class="form-control" ng-model="model.nnid" placeholder="nnid" />
				</div>
				
				<h4>link</h4>
				<div ng-include="'link.edit.html'" ng-repeat="link in (model.links || [])"></div>
				<button ng-show="!model.links || model.links.length < 10" type="button" class='btn btn-default btn-lg btn-block' ng-click="addLink(model)"><span class="glyphicon glyphicon-plus"></span>リンクの追加</button>
				<uib-alert ng-hide="!model.links || model.links.length < 10" type="warning">これ以上はリンクを追加できません。</uib-alert>
			</div>
			
			<div ng-show="preview" ng-include="'jumbotron.html'" ng-repeat="model in [model]"></div>
			
			<h4>&nbsp;</h4>
            <button ng-hide="isUpdating" type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(model)"><span class="glyphicon glyphicon-cloud-upload"></span>{{ model.id ? "保存": "作成"}}</button>
            <button ng-show="isUpdating" type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(model)" disabled><span class="glyphicon glyphicon-cloud-upload"></span>{{ model.id ? "保存": "作成"}}</button>
        </script>

        <script type="text/ng-template" id="tag.edit.html">
            <h4>tag</h4>
            <button type="button" class="btn"
                    ng-class="0<=arrayObjectIndexOf(model.tags,tag.name) ? (model.type=='match' ? 'btn-success': 'btn-primary'): 'btn-default'"
                    ng-repeat="tag in tags[model.type]" ng-click="toggleTag(model,tag)">
                <span class="glyphicon" ng-class="0<=arrayObjectIndexOf(model.tags,tag.name) ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
                {{tag.name}}
            </button>
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       placeholder="タグ"
                       ng-model="tags.new" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="addTag(model)"><span class="glyphicon glyphicon-plus"></span>追加</button>
                </span>
            </div>
        </script>

        <script type="text/ng-template" id="match.entries.list.html">
            <ul class="list-group" ng-click="$event.stopPropagation()">
                <li class="list-group-item"
                    ng-repeat="entry in model.entries track by $index"
                    ng-click="viewmode ? showEntry(entry): setWinner(model,entry)"
                    ng-class="getMatchEntryClass(model,entry)">
                    <span ng-show="searchEntry(entry)">
                        <span ng-class="getMatchResultClass(model,entry)"></span>
                        <span ng-include="'tag.html'" ng-repeat="model in [searchEntry(entry)]"></span>
                        <span class="glyphicon" ng-class="'glyphicon-'+tabIcon.entry"></span>
                        {{searchEntry(entry).name}}<span ng-hide="searchEntry(entry).name"><i>名称未設定</i></span>
                    </span>
                    <span ng-hide="searchEntry(entry)">
                        <span ng-include="'tag.html'" ng-repeat="model in [getMatch(entry)]"></span>
                        <span class="glyphicon" ng-class="'glyphicon-'+tabIcon.match"></span>
                        {{getMatch(entry).name}} の勝者
                    </span>
                </li>
            </ul>
        </script>

        <script type="text/ng-template" id="matches.list.html">
            <div ng-include="'filter.html'" ng-repeat="type in ['match']"></div>
            <ul class="list-group">
				<li
                    ng-include="'entries.list.item.html'"
                    class="list-group-item"
                    ng-show="2<=model.entries.length"
                    ng-repeat="model in model | filter:filterMatch track by $index"
                    ng-click="selectMatch(model)">
                </li>
            </ul>
        </script>
		
        <script type="text/ng-template" id="entries.list.item.html">
			<span ng-include="'tag.html'"></span>
			<h4 class="list-group-item-heading"><span class="glyphicon" ng-class="'glyphicon-'+tabIcon[model.type]"></span>{{model.name}}<span ng-hide="model.name"><i>名称未設定</i></span></h4>
			<div ng-show="model.entries" ng-include="'match.entries.list.html'" ng-repeat="model in [model]"></div>
			<p class="list-group-item-text">{{model.description}}</p>
			<p class="list-group-item-text" ng-show="model.links && 0 < model.links.length">
                <a ng-href="{{model.links[0].url}}" rel="noopener" target="_blank" ng-click="$event.stopPropagation()">{{model.links[0].title || model.links[0].url}}</a>
            </p>
        </script>
		
        <script type="text/ng-template" id="tag.html">
            <span class="label label-pill pull-xs-right" ng-class="model.type=='match'?'label-success':'label-primary'" ng-repeat="tag in model.tags"><span class="glyphicon glyphicon-tag tag-default"></span>{{tag}}</span>
        </script>

        <script type="text/ng-template" id="filter.html">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search" id="entry-search-icon"></span>
                <input type="text"
                       class="form-control"
                       placeholder="キーワード"
                       aria-describedby="entry-search-icon"
                       ng-model="selected[type+'Search']" />
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clearText(selected,type+'Search')"></button>
                </span>
                <div class="input-group-btn" ng-show="tags[type].length">
                    <div class="btn-group" uib-dropdown>
                        <button id="match-tag-filter" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled" ng-class="selected[type + 'FilterTagsLabel'] && 1<=selected[type + 'FilterTags'].length ? 'btn-primary': 'btn-default'">
                            <span class="glyphicon tag-selector" ng-class="selected[type + 'FilterTags'] && 1==selected[type + 'FilterTags'].length ? 'glyphicon-tag': 'glyphicon-tags'"></span>
                            <span ng-hide="selected[type + 'FilterTagsLabel']">All</span>
                            {{selected[type + 'FilterTagsLabel']}}
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="match-tag-filter" class="right">
                            <li role="menuitem" ng-click="clearFilterTag(type)" ng-class="selected[type + 'FilterTagsLabel'] && 1<=selected[type + 'FilterTags'].length ? '': 'active'"><a href="#"><span class="glyphicon glyphicon-tags tag-selector"></span>All({{repository[type].length}})</a></li>
                            <li class="divider"></li>
                            <li role="menuitem" ng-click="toggleFilterTag(type, model)" ng-repeat="model in tags[type] track by $index" ng-class="0<=arrayObjectIndexOf(selected[type + 'FilterTags'],model) ? 'active': ''">
                                <a href="#">
                                    <span class="glyphicon glyphicon-tag tag-selector"></span>{{model.name}}({{model.count}})
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </script>

        <div ng-show="is_loading">
            <div class="big-header">
                <div class="container">
                    <div class="jumbotron">
                        <h1>loading...</h1>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!(is_loading||active_tab)" ng-cloak>
            <div class="big-header">
            
                <uib-alert type="warning">
                    現在、このWebサイトのサービスは公開開発中のものであり、現時点では正常にご利用頂くことはできません。今月中(2016-03)に正式サービス開始予定です。
                </uib-alert>
                
                <div class="container">
                    <div class="jumbotron">
                        <div ng-include="'jumbotron.html'" ng-repeat="model in [viewmode?model.event:app]"></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="active_tab=='login'" ng-cloak>
            <div class="big-header">
                <div class="container">
                    <div class="jumbotron">
                        <div ng-include="'jumbotron.html'" ng-repeat="model in [{ type:'login', name:'ログイン' }]"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container theme-showcase" role="main" ng-cloak>

            <div class="alert alert-danger" role="alert" ng-hide="true">
                <strong>JavaScriptが無効になっています。</strong>
                このページは JavaScript に強く依存しています。
                JavaScriptを有効にしてから再読み込みしてください。
            </div>
            <uib-alert
                ng-repeat="alert in alerts"
                type="{{alert.type}}"
                close="closeAlert($index)"
                dismiss-on-timeout="3000">{{alert.msg}}
            </uib-alert>

            <!--
            <div id="picker"></div>
            <br/>
            -->

            <div ng-hide="is_loading">

                <div ng-hide="active_tab">
                    <div ng-hide="viewmode">
                        <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('event.new')">イベントを開催する</button>
                        <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('event.list')">イベントに参加する</button>
                    </div>
                    <div ng-show="viewmode">
                        <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('entry')">参加チーム一覧を見る</button>
                        <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('match')">試合一覧を見る</button>
                        <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('tree')">トーナメントツリーを見る</button>
                    </div>
                </div>

                <div ng-show="active_tab=='event'">
                    <div ng-include="'edit.html'" ng-repeat="model in [model.event]"></div>
                    <h4>next</h4>
                    <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('entry')">参加チームを登録する</button>
                </div>

                <div ng-show="active_tab=='event.new'">
                    <uib-alert type="info">開催するイベントの各種情報を入力して保存ボタンをクリックしてください。このフォールで入力情報は後から編集可能なのでまずは名前だけ入力して先に進んでも構いません。</uib-alert>
                    <div ng-include="'edit.html'" ng-repeat="model in [temp.event]"></div>
                </div>
                
                <div ng-show="active_tab=='entry'">
                    <div class="row">
                        <div class="col-md-5" ng-class="selected.entry?'hide-on-narrow':''">
                            <div ng-include="'filter.html'" ng-repeat="type in ['entry']"></div>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success glyphicon glyphicon-plus"
                                    ng-click="addEntry()"
                                    ng-hide="viewmode">
                                    チームの追加
                                </li>
                                <li ng-include="'entries.list.item.html'"
                                    class="list-group-item"
                                    ng-class="{'active': model == selected.entry}"
                                    ng-repeat="model in model.entries | filter:filterEntry track by $index"
                                    ng-click="selectEntry(model)">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7" ng-show="selected.entry">
                            <button type="button" class='btn glyphicon glyphicon-chevron-left show-on-narrow' ng-click="selectEntry(null)">戻る</button>
                            <div ng-show="!viewmode">
                                <button type="button"
                                        class='btn btn-danger glyphicon glyphicon-trash'
                                        ng-click="removeEntry(selected.entry)"
                                        style="float:right">
                                    チームの削除
                                </button>
                                <div ng-include="'edit.html'" ng-repeat="model in [selected.entry]"></div>
                                <div  ng-show="0<selected.entryMatches.length">
                                    <h4>match</h4>
                                    <div ng-include="'matches.list.html'" ng-repeat="model in [selected.entryMatches]"></div>
                                </div>
                            </div>
                            <div ng-show="viewmode">
                                <div ng-include="'jumbotron.html'" ng-repeat="model in [selected.entry]"></div>
                                <div ng-show="0<selected.entryMatches.length">
                                    <h4>match</h4>
                                    <div ng-include="'matches.list.html'" ng-repeat="model in [selected.entryMatches]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7" ng-hide="selected.entry" ng-class="!selected.entry?'hide-on-narrow':''">
                            <uib-alert type="info" ng-show="!viewmode">左からチームを追加あるいは選択してください。</uib-alert>
                            <uib-alert type="info" ng-show="viewmode">左からチームを選択してください。</uib-alert>
                        </div>
                    </div>
                </div>

                <div ng-show="active_tab=='member'">
                    <div class="row">
                        <div class="col-md-5" ng-class="selected.member?'hide-on-narrow':''">
                            <div ng-include="'filter.html'" ng-repeat="type in ['member']"></div>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success glyphicon glyphicon-plus"
                                    ng-click="addMember()"
                                    ng-hide="viewmode">
                                    メンバーの追加
                                </li>
                                <li ng-include="'entries.list.item.html'"
                                    class="list-group-item"
                                    ng-class="{'active': model == selected.member}"
                                    ng-repeat="model in model.members | filter:filterMember track by $index"
                                    ng-click="selectMember(model)">
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7" ng-show="selected.member">
                            <button type="button" class='btn glyphicon glyphicon-chevron-left show-on-narrow' ng-click="selectMember(null)">戻る</button>
                            <div ng-show="!viewmode">
                                <button type="button"
                                        class='btn btn-danger glyphicon glyphicon-trash'
                                        ng-click="removeMember(selected.member)"
                                        style="float:right">
                                    メンバーの削除
                                </button>
                                <div ng-include="'edit.html'" ng-repeat="model in [selected.member]"></div>
                            </div>
                            <div ng-show="viewmode">
                                <div ng-include="'jumbotron.html'" ng-repeat="model in [selected.member]"></div>
                            </div>
                        </div>
                        <div class="col-md-7" ng-hide="selected.member" ng-class="!selected.member?'hide-on-narrow':''">
                            <uib-alert type="info" ng-show="!viewmode">左からメンバーを追加あるいは選択してください。</uib-alert>
                            <uib-alert type="info" ng-show="viewmode">左からメンバーを選択してください。</uib-alert>
                        </div>
                    </div>
                </div>

                <div ng-show="active_tab=='match'">
                    <div ng-hide="1 < model.entries.length">
                        <uib-alert type="info" ng-hide="viewmode">まずは entry から2チーム以上登録してください。</uib-alert>
                        <uib-alert type="info" ng-show="viewmode">このトーナメントはまだ十分な数のチームが登録されていません。</uib-alert>
                    </div>
                    <div ng-show="1 < model.entries.length">
                        <div ng-show="0 == model.matches.length && !viewmode">
                            <uib-alert type="info">トーナメントの抽選を行い試合を組み合わせ、試合表とトーナメントツリーを作成します。</uib-alert>
                            <uib-alert type="warning">
                                現在の セピアトーナメント のバージョンではトーナメントツリー作成後に entry の追加/削除を行うと抽選のやり直しになります。
                            </uib-alert>
                            <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="makeMatch()">抽選の実行</button>
                        </div>
                        <div ng-show="0 == model.matches.length && viewmode">
                            <uib-alert type="info">
                                このトーナメントはまだ試合の組み合わを決める抽選が行われていません。
                                通常、抽選は参加登録が締め切られてから実施されます。
                            </uib-alert>
                        </div>
                        <div ng-show="0 < model.matches.length && !selected.match">
                            <div ng-show="0 < unmatches.length" style="margin-bottom:24px;">
                                <uib-alert type="info">次のチームがトーナメントに組み込まれていません。</uib-alert>
                                <ul class="list-group">
									<li class="list-group-item" ng-repeat="model in unmatches track by $index" ng-click="selectEntry(model)">
										<span ng-include="'entries.list.item.html'" ng-repeat="model in [getEntry(model)]"></span>
									</li>
                                </ul>
                                <uib-alert type="denger" ng-hide="viewmode">
                                    現在のトーナメントツリーのままで公平にエントリーを追加することができません。
                                    これらのエントリーをトーナメントに追加するには一度現在の抽選を全て破棄する必要があります。
                                    この画面の一番下にあるボタンをクリックしてください。
                                </uib-alert>
                                <!--
                                <uib-alert ng-show="over_bit_level" type="denger">
                                    現在のトーナメントツリーのままで公平にエントリーを追加することができません。
                                    これらのエントリーをトーナメントに追加するには一度現在の抽選を全て破棄する必要があります。
                                    この画面の一番下にあるボタンをクリックしてください。
                                </uib-alert>
                                <button ng-hide="over_bit_level" type="button" class='btn btn-primary btn-lg btn-block' ng-click="appendMatch()">
                                    追加の抽選の実行
                                </button>
                                -->
                            </div>
                            <div ng-include="'matches.list.html'" ng-repeat="model in [model.matches]"></div>
                            <button type="button" class='btn btn-danger' style="float:right" ng-click="remakeMatch()" ng-hide="viewmode">
                                現在の抽選を全て破棄して抽選の再実行
                            </button>
                            <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="selectTab('tree')">トーナメントツリーを見る</button>
                        </div>
                        <div ng-show="selected.match && !viewmode">
                            <button type="button" class='btn glyphicon glyphicon-chevron-left' ng-click="selectMatch(null)">戻る</button>
                            <div ng-include="'edit.html'" ng-repeat="model in [selected.match]"></div>
                            <h4>entry</h4>
                            <div ng-show="model.entries" ng-include="'match.entries.list.html'" ng-repeat="model in [selected.match]"></div>
                        </div>
                        <div ng-show="selected.match && viewmode">
                            <button type="button" class='btn glyphicon glyphicon-chevron-left' ng-click="selectMatch(null)">戻る</button>
                            <div ng-include="'jumbotron.html'" ng-repeat="model in [selected.match]"></div>
                        </div>
                    </div>
                </div>

                <div ng-show="active_tab=='import'">
                	<h3>import</h3>
                    <textarea class="form-control" rows="10" ng-model="json"></textarea>
                    <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="import(json)">import</button>
                </div>

                <div ng-show="active_tab=='export'">
                	<h3>export</h3>
                    <textarea class="form-control" rows="10">{{toJson(model)}}</textarea>
                </div>

                <div ng-show="active_tab=='tree'">
                    <div ng-hide="0 < model.matches.length">
                        <uib-alert type="info">match で抽選を行ってトーナメント表を作成してください。</uib-alert>
                    </div>
                </div>
                
                <div ng-show="active_tab=='login'">
                    <button type="button" class='btn btn-primary btn-lg btn-block' ng-click="login('twitter')"><img class="login icon" src="/images/twitter/logo_white.png">twitter でログイン</button>
                </div>
                
                <div ng-show="active_tab=='profile'">
                	<h3>profile</h3>
                    <div ng-include="'edit.html'" ng-repeat="model in [logonUser]"></div>
                </div>

                <div ng-show="active_tab=='log'">
                    <table ng-if="model.logs" class="list">
                        <tr><th>target</th><th>at</th><th>category</th><th>operator</th><th>message</th></tr>
                        <tr ng-repeat="log in model.logs"><td>{{log.target}}</td><td>{{log.at}}</td><td>{{log.category}}</td><td>{{log.operator}}</td><td>{{log.message}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="active_tab=='tree'">
            <div id="chart"></div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span>sepiatournament ver {{app.version}}</span><span class="separator">|</span>
            <span>&copy; 2016 <a href="https://twitter.com/wraith13">@wraith13</a></span><span class="separator">|</span>
            <span><a href="https://github.com/wraith13/sepiatournament">github</a></span>
        </div>
    </footer>

    <script type="text/javascript" src="sepiatournament.js"></script>
</body>
</html>